<div class="box">
    <div class="box-header">
        <h3 class="box-title">Listado de Personas</h3>

        <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control pull-right" placeholder="Buscar">

                <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <tbody><tr>
                <th>Nombre</th>
                <th>Email</th>
                <th>Teléfono</th>
                <th>Fecha Nacimiento</th>
                <th>Roles</th>
            </tr>
            {% for person in people %}
            <tr>
                <td><a href="{{ person.link }}">{{ person.listName }}</a></td>
                <td>{{ person.email }}</td>
                <td>{{ person.phone }}</td>
                <td>{{ person.birthday }}</td>
                <td>
                    {% for role in person.roles %}
                        <span class="label label-success">{{ role }}</span>
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            </tbody></table>
    </div>
    <!-- /.box-body -->
</div>